.main{
    height: 100%;
    display: flex;
    flex-direction: column;

}
.sponsor{
    height: 30%;
    background-color: orange;
}
.app-sponsor-wall{
    height: 30%;
    background-color: orange;
}
