.p{
    background-color:#3B6AFE;
    height: 44%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    color: #ffff;
}
img{
    height: 100%;
    border-radius: 12px;
    width: 100%;
}