
.top-bar{
    display: flex;
    flex-direction: row;
   
    height: 100%;
    background-color: #333333;
}
.left-items{
    background-color: #333333;
    width: 23%;
    display: flex;
   
    align-items: center;
    text-align: center;
    gap: 1%;
   
}
 img{
    border-radius: 15px;
    
   
}
.center-items{
    width: 55%;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-left: 1%;
   
}
button{
    border-radius: 15px;
    color: #fff;
    background-color:#515254;
   border: none;
   height: 30px;
   width: 30px;
   margin-left: 10px;
}
.right-items{
    width: 20%;
    background-color: #333333;
    display: flex;
    flex-direction: row;
  gap: 10px;
text-align: center;
align-items: center;

}
p{
    color: #fff;
    background-color: #333333;
    margin: 2px;
}
#fbookIcon{
    margin-left: 6%;
    background-color: #333333;
}
.boxA{
    width: 20%;
    background-color: #333333;
    color: aliceblue;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxB{
    width: 20%;
    background-color: #333333;
    color: aliceblue;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxC{
    width: 20%;
    background-color: #333333;
    color: aliceblue;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxD{
    width: 20%;
    background-color: #333333;
    color: aliceblue;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.boxE{
    width: 20%;
    background-color: #333333;
    color: aliceblue;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}


i{
    background-color: #333333;
    color: aliceblue; 
    
}

.search-box {
    display: flex;
    align-items: center;
    width: 270px;
    height: 30px;
    background-color: #616060;
    border: 1px solid #616060;
    border-radius: 24px;
    color:white ;
    padding: 4px;
  }
  
  .search-input {
    background-color: #616060;
    flex: 1;
    border: none;
    outline: none;
    padding: 6px;
    color: white;
  }
  
  .search-button {
    background-color: #616060;
    border: none;
    outline: none;
    padding: 6px;
    cursor: pointer;
    color: white;
  }
  
  .fa-search {
    color: white;
    background-color: #616060;
  }
  

 
  
  .box {
    position: relative;
  }
  
  .box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .box.active::after {
    background-color: #2D88FF;
  }
  
  .box.active i {
    color: #2D88FF;
  }
  