<div class="top-bar">
    
   <div class="left-items">
    <img src="../../assets/f_logo_RGB-Blue_1024.png" id="fbookIcon" alt="facebook" width="12%" height="70%">
    <div class="search-box">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        <input type="text" class="search-input"  placeholder="Search Facebook">
        
      </div>
      
   </div>
   <div class="center-items">
    <div class="boxA">
       
        <i class="fa-solid fa-house" width="12px" height="50px"></i>

    </div>
    <div class="boxB">
       
        <i class="fa-solid fa-tv" width="12px" height="50px"></i>
     
    </div>
    <div class="boxC">
       
        <i class="fa-solid fa-store"></i>
    </div>
    <div class="boxD">
    <i class="fa-solid fa-users-rectangle"></i>
    </div>
    <div class="boxE">
        <a routerLink="/videos"><i class="fa-solid fa-box-open "></i></a>
    
        </div>
   </div>
   
   <div class="right-items">
 <img src="../../assets/abstract-colorful-wave-transparent-stylish-background_1055-6965.avif" width="30px"  height="30px"><p>Katlego</p>
    <button>+</button>
    <button><i class="fa-solid fa-comment fa-xl"></i></button>
    <button><i class="fa-solid fa-bell fa-xl"></i></button>
    <button><i class="fa-solid fa-caret-down fa-xl"></i></button>
   </div>
        
</div>
