<div class="top-bar">
    
   <div class="left-items">
    <img src="../../assets/f_logo_RGB-Blue_1024.png" id="fbookIcon" alt="facebook" width="7%" height="50%">
    <div class="search-box">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        <input type="text" class="search-input"  placeholder="Search Facebook">
        
      </div>
      
   </div>
   <div class="center-items">
    <div class="boxA">
        <i class="fa-solid fa-house" width="12px" hight="14px"></i>

    </div>
   </div>
   <div class="right-items"></div>
        
</div>
