<div class="top-bar">
    
   <div class="left-items">
    <img src="../../assets/f_logo_RGB-Blue_1024.png" id="fbookIcon" alt="facebook" width="12%" height="70%">
    <div class="search-box">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        <input type="text" class="search-input"  placeholder="Search Facebook">
        
      </div>
      
   </div>
   <div class="center-items">
    <div class="box boxA" (click)="setActive('boxA')" [ngClass]="{'active': activeBox === 'boxA'}">
        <a routerLink="/home"style="background-color:  #333333;"><i class="fa-solid fa-house"></i></a>
    </div>
    <div class="box boxB" (click)="setActive('boxB')" [ngClass]="{'active': activeBox === 'boxB'}">
        <a routerLink="/videos"style="background-color:  #333333;"><i class="fa-solid fa-tv"></i></a>
    </div>
    <div class="box boxC" (click)="setActive('boxC')" [ngClass]="{'active': activeBox === 'boxC'}">
        <a routerLink="/videos"style="background-color:  #333333;"> <i class="fa-solid fa-store"></i></a>
    </div>
    <div class="box boxD" (click)="setActive('boxD')" [ngClass]="{'active': activeBox === 'boxD'}">
        <a routerLink="/videos"style="background-color:  #333333;"><i class="fa-solid fa-users-rectangle"></i></a>
    </div>
    <div class="box boxE" (click)="setActive('boxE')" [ngClass]="{'active': activeBox === 'boxE'}">
      <a routerLink="/videos"style="background-color:  #333333;"><i class="fa-solid fa-box-open" ></i></a>
    </div>
  </div>
  

  
   
   <div class="right-items">
 <img src="../../assets/R.jpg" width="30px"  height="30px"><p>Katlego</p>
    <button>+</button>
    <button><i class="fa-solid fa-comment fa-xl"></i></button>
    <button><i class="fa-solid fa-bell fa-xl"></i></button>
    <button><i class="fa-solid fa-caret-down fa-xl"></i></button>
   </div>
        
</div>
