.p{
    background-color:white;
    height: 44%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    color: #ffff; 
    
}
img{
    height: 70%;
    width: fit-content;
    border-radius: 20%;
    margin-left: 12px;
}