<div class="p">
    <div class="list">
        <p>Contacts</p>
    </div>
    <div class="list">
    <img src="../../assets/Screenshot Im1.png" alt="view" width="14%" height="10%"><p>Dennies Han</p>
</div>
<div class="list">
   <img src="../../assets/Screenshot img2.png" alt="view" width="14%" height="10%"><p>Eric Jones</p>
   </div>
   <div class="list">
   <img src="../../assets/Screenshot img3.png" alt="" width="14%" height="10%"><p>Cynthia Lopez</p>
   </div>
   <div class="list">
   <img src="../../assets/Screenshot img 4.png" alt="" width="14%" height="10%"><p>Betty Chen</p>
   </div>
   <div class="list">
   <img src="../../assets/Screenshot img5.png" alt="" width="14%" height="10%"><p>Tina Lim</p>
   </div>
   <div class="list">
    <img src="../../assets/Screenshot numb6.png" width="14%" height="10%"><p>Molly Carter</p>
    </div>
  
</div>

