<div class="p">
   <div class="list">
      <img src="../../assets/R.jpg" width="30px" id="profile" height="30px">
      <p>Katlego Rampedi</p>
   </div>
   <div class="list">

      <img src="../../assets/Screenshot 2023-07-12 091931.png" alt="view" (click)=" routeToVideos()" width="14%"
         height="12%">
      <p>Watch</p>
   </div>
   <div class="list">
      <img src="../../assets/Screenshot 2023-07-12 0931931.png" alt="" width="14%" height="14%">
      <p>Events</p>
   </div>
   <div class="list">
      <img src="../../assets/Screenshot 2023-07-12 091w931.png" alt="" width="14%" height="14%">
      <p>Friends</p>
   </div>
   <div class="list">
      <img src="../../assets/Screenshot 2023-07-12 www091931.png" alt="" width="14%" height="14%">
      <p class="lastpic">Memories</p>
   </div>
   <button type="button">
      <select>
         <option value="">view more</option>
      </select>
   </button>
   <hr>
</div>