<div class="p">
    <div class="firstPart">
    <img src="../../assets/R.jpg" width="30px"  height="30px"> 
    <input type="text" class="search-input" placeholder="What's on your mind,Katlego?"></div><br>
        <hr width="90%">
        <br>

    <div class="emojies">
     <div class="icons">
        <i class="fa-solid fa-photo-film fa-lg" style="color: #45BD62;"></i><span>Photo/Video</span>
    </div>
    <div class="icons">
        <i class="fa-solid fa-user-tag" style="color: blue;"></i><span>Tag Friends</span>
        </div>
    <div class="icons">
        <i class="fa-sharp fa-solid fa-face-smile"style="color: #FFCE2E;"></i><span>Feeling/Activity</span>
    </div>
</div>
