.p{
    background-color:#242526;
    height: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
   

    
}

.list{
    display: flex;
    flex-direction: row;
    color: #fff;
    
    background-color: #242526;
}
hr{
    margin-left: 35px;
}
.firstPart{
    margin-top: 2%;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: #242526;
}
img{
    border-radius: 15px;
}
input{
    height: 30px;
    width: 88%;
    border-radius: 12px;
    background-color: #616060;
    outline: none;
    border: none;
    color: hwb(0 91% 0%);
    
  
}
.emojies{
    display: flex;
    flex-direction: row;
    background-color:#242526;
    color: #fff;
    gap: 20%;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    gap: 12px;
    background-color: #242526;
    color: #fff;
}
i,span{
    background-color: #242526; 
    text-align: center;
}