<div class="p">
    <div class="list">
        <p>Shortcuts</p>
    </div>
    <div class="list">
    <img src="../../assets/Screenshot 2023-07-1first.png" alt="view" width="14%" height="10%"><p>Undiscovered Eats</p>
</div>
<div class="list">
   <img src="../../assets/Screenshot 2023-07second.png" alt="view" width="14%" height="10%"><p>Weekend Trips</p>
   </div>
   <div class="list">
   <img src="../../assets/Screenshot 2023-07-12 09third.png" alt="" width="14%" height="10%"><p>Jasper's Market</p>
   </div>
   <div class="list">
   <img src="../../assets/Screenshot 202forth.png" alt="" width="14%" height="10%"><p>Red Table Talk Grpup</p>
   </div>
   <div class="list">
   <img src="../../assets/Screenshot 2023fifth.png" alt="" width="14%" height="10%"><p class="lastpic">Best Hidden Hiking Trails</p>
   </div>
   <button type="button">
   <select>
    <option value="">view more</option>
   </select>
</button>
  
</div>
